{% extends 'base.html' %}

{% block content %}
<script>
jQuery(document).ready(function() {
    jQuery(".tabcontent").hide();
    jQuery("#navigation a").click(function(el) {
        jQuery(".tabcontent").hide();
        jQuery(jQuery(this).attr("data-href")).fadeIn();
    });
});

$(document).onloaded(function(){
	$(".bestMatches").hide();
	$("#table1").fadeIn(); 
});

</script>
	<span id="background"></span>
	<div id="page">
		<div id="sidebar">
		  <div id="logo">
				<img src="http://i.imgur.com/cuHJ1.png"/>
			</div> <!-- /#logo -->
			<ul id="navigation">
				<li><a class="menulink" data-href="#personal">PERSONAL</a></li>
				<li><a class="menulink" data-href="#medical">MEDICAL INFO</a></li>
				<li><a class="menulink" data-href="#general">GENERAL</a></li>
			</ul> <!-- /#navigation -->
			<ul id="connect">
				<li><a href="http://facebook.com" target="_blank" class="facebook"></a></li>
    <!--
				<li><a href="http://twitter.com" target="_blank" class="twitter"></a></li>
				<li><a href="" class="link-us"></a></li>
    -->
			</ul> <!-- /#connect -->
            <div class="bestMatches" id="table1"style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Jeffery Tenenbaum</td>
                        <td><img src="donormatch/static/dataImages/19.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Hannah Good</td>
                        <td><img src="donormatch/static/dataImages/20.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Molly Osgood</td>
                        <td><img src="donormatch/static/dataImages/21.jpg"/></td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id"table2" style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Bill Sharpe</td>
                        <td><img src="donormatch/static/dataImages/16.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Dane Cook</td>
                        <td><img src="donormatch/static/dataImages/17.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Betsy Ze</td>
                        <td><img src="donormatch/static/dataImages/18.jpg"/></td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id"table3" style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Vikram Iyer</td>
                        <td><img src="donormatch/static/dataImages/1.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Michael Tsang</td>
                        <td><img src="donormatch/static/dataImages/2.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Rick Bhardwaj</td>
                        <td><img src="donormatch/static/dataImages/3.jpg"/></td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id"table4" style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Ori Herschmann</td>
                        <td><img src="donormatch/static/dataImages/4.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Joe Smith</td>
                        <td><img src="donormatch/static/dataImages/5.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Sarah Jones</td>
                        <td><img src="donormatch/static/dataImages/6.jpg"/></td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id"table5" style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Aaron Moskovitz</td>
                        <td><img src="donormatch/static/dataImages/7.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Adam Borges</td>
                        <td><img src="donormatch/static/dataImages/8.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Sarah Jones</td>
                        <td><img src="donormatch/static/dataImages/9.jpg"/></td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id"table6" style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Aaron Moskovitz</td>
                        <td><img src="donormatch/static/dataImages/10.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Adam Borges</td>
                        <td><img src="donormatch/static/dataImages/11.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Sarah Jones</td>
                        <td><img src="donormatch/static/dataImages/12.jpg"/></td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id"table7" style="display:none">
            	<table>
                	<tr>
                    	<td width = 50>Yvonne Tolstoy</td>
                        <td><img src="donormatch/static/dataImages/13.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Anna Markov</td>
                        <td><img src="donormatch/static/dataImages/14.jpg"/></td>
                    </tr>
                    <tr>
                    	<td width = 50>Aaron Moskoviiv</td>
                        <td><img src="donormatch/static/dataImages/15.jpg"/></td>
                    </tr>
                </table>
            </div>
			<div class="footer">
				<a href="index.html">Lifechain</a>
            </div> <!-- /.footer -->
		</div> <!-- /#sidebar -->

		<div class="theContents" id="contents">
        	<div id="personal" class="tabcontent" style="margin-left:1em">
            &nbsp;
            <h3>Personal Information</h3>
            <div id="contentOfPersonal" style="margin-left:2em">
            <form>
            <table>
              <tr>
              	<td width=140>First Name:</td>
                <td><input type="text" name="firstName" value=""/></td>
              </tr>
              <tr>
                <td width=140>Last Name:</td>
                <td><input type="text" name="lastName" value=""/></td>
              </tr>
              <tr>
                <td width=140>Age:</td>
                <td><input type="text" name="age" /></td>
              </tr>
              <tr>
                <td width =140>Location:</td>
                <td><input type="text" name="loc" value="{{user.userprofile.location}}"/></td>
              </tr>
              <tr>
                <td width =140>Height:</td>
                <td><input type="text" name="height"/></td>
              </tr>
              <tr>
                <td width =140>Weight:</td>
                <td><input type="text" name="weight"/></td>
              </tr>
                  <tr>
                    <td width=140>Email Address:</td>
                    <td><input type="email" name="email" /></td>
                  </tr>
                  <tr>
                    <td width=140>Phone Number:</td>
                    <td><input type="tel"/></td>
                  </tr>
                </table>
                </div>
                </form>
    		</div><!-- /#contact -->

            <div id="medical" class="tabcontent">
                <h3>Medical Information</h3>
                <div id="contentOfMedical" style="margin-left:4em">
                <form>
                    Blood Type: <select name="bloodDropDown">
                                <option value="o">O</option>
                                <option value="a">A</option>
                                <option value="b">B</option>
                                <option value="ab">AB</option>
                                </select>
                    Positive: <input type='checkbox' name="bloodPos?"/>
                </form>
                <h4>Immunological Markers</h4>
                <form>
                	IgA: <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgB:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgC:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgD:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgE:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgF:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                </form>
                <h4>Do you have a medical history with any of the following?</h4>
                <table>
                	<tr>
                    	<td width=170>Heart:</td>
                        <td><input type="checkbox" name="heart" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Liver:</td>
                        <td><input type="checkbox" name="liver" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Kidneys:</td>
                        <td><input type="checkbox" name="kidney" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Lung:</td>
                        <td><input type="checkbox" name="lung" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Cancer of any Form:</td>
                        <td><input type="checkbox" name="cancer" /></td>
                    </tr>
                </table>
                </div>
    		</div><!-- #medical -->

            <div id="general" class="tabcontent">
                <h3>General</h3>
                <form>
                    Smoker: <input type='checkbox' name="smoker"/><br />
                    History of Drug Use: <input type="text" name="drugs"/>
                </form>
            </div><!-- #general -->
    </div>
        </div> <!-- /#contents -->
	</div> <!-- /#page -->

{% endblock content %}
