{% extends 'base.html' %}

{% block content %}
<script>
jQuery(document).ready(function() {
    jQuery(".tabcontent").hide();
    jQuery("#logo a, #navigation a").click(function(el) {
        jQuery(".tabcontent").hide();
        jQuery(jQuery(this).attr("data-href")).fadeIn();
    });
    if (LifechainContext.loggedin && window.location.hash.indexOf("#loggedin") != -1) {
        jQuery("#personal").show();
    } else {
        jQuery("#home").show();
    }

	function sendMessage()
	{
		jQuery(".checkboxclass").each(function(elem, index) {
  			if(jQuery(elem).attr("checked"))
			{
				this.attr("data-text", "Visit Lifechain to help me get the organ that I need!");
				return;
			}
		});

		this.attr("data-text", "Visit Lifechain to help my friends get the organs that they need");
	}

    jQuery(".facebook_button").click(function(btn) {
        var text = $(btn).attr("data-text");
        FB.api('/me/feed', 'post', { message: text }, function(response) {
            if (!response || response.error) {
                //alert('Error occured');
            } else {
                alert('Message posted to your wall');
            }
        });
    });

});


function updateResults(){
	$(".bestMatches").hide();
    var elements = [1,2,3,4,5,6,7];
    var idx = elements[Math.floor(Math.random() * elements.length)];
	console.log("hi", $("#table" + idx).fadeIn());
}
$(document).ready(updateResults);
$("input").change(updateResults);

</script>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '381209045225340', // App ID
      //channelUrl : '//WWW.YOUR_DOMAIN.COM/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
    });

    // Additional initialization code here
  };

  // Load the SDK Asynchronously
  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
   }(document));
</script>

<script>
</script>

	<span id="background"></span>
	<div id="page">
		<div id="sidebar">
		  <div id="logo">
		    <a data-href="#home"><img src="http://i.imgur.com/cuHJ1.png"/></a>
			</div> <!-- /#logo -->
			<ul id="navigation">
				<li><a class="menulink" data-href="#home">HOME</a></li>
				<li><a class="menulink" data-href="#about">TRANSPLANT CHAIN</a></li>
			  {% if user.is_authenticated %}
				<li><a class="menulink" data-href="#personal">PERSONAL</a></li>
				<li><a class="menulink" data-href="#medical">MEDICAL INFO</a></li>
				<li><a class="menulink" data-href="#general">GENERAL</a></li>
				<li><a class="menulink" href="/logout">LOGOUT</a></li>
			  {% endif %}
				<li><a class="menulink" data-href="#contact">CONTACT</a></li>
			</ul> <!-- /#navigation -->
			<ul id="connect">
				<li><a href="http://facebook.com" target="_blank" class="facebook"></a></li>
    <!--
				<li><a href="http://twitter.com" target="_blank" class="twitter"></a></li>
				<li><a href="" class="link-us"></a></li>
    -->
			</ul> <!-- /#connect -->
            <h3>Best Donor Matches</h3>
            <div class="bestMatches" id="table1" style="display:none">
            	<table>
                	<tr>
                        <td><img src="/static/dataImages/19.jpg"/></td>
                    	<td width = 50>Molly Osgood</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/20.jpg"/></td>
                    	<td width = 50>Hannah Good</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/21.jpg"/></td>
                    	<td width = 50>Molly Osgood</td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id="table2" style="display:none">
            	<table>
                	<tr>
                        <td><img src="/static/dataImages/16.jpg"/></td>
                    	<td width = 50>Bill Sharpe</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/17.jpg"/></td>
                    	<td width = 50>Dane Cook</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/18.jpg"/></td>
                    	<td width = 50>Betsy Ze</td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id="table3" style="display:none">
            	<table>
                	<tr>
                        <td><img src="/static/dataImages/1.jpg"/></td>
                    	<td width = 50>Vikram Iyer</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/2.jpg"/></td>
                    	<td width = 50>Michael Tsang</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/3.jpg"/></td>
                    	<td width = 50>Rick Bhardwaj</td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id="table4" style="display:none">
            	<table>
                	<tr>
                        <td><img src="/static/dataImages/4.jpg"/></td>
                    	<td width = 50>Ori Herschmann</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/5.jpg"/></td>
                    	<td width = 50>Joe Smith</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/6.jpg"/></td>
                    	<td width = 50>Sarah Jones</td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id="table5" style="display:none">
            	<table>
                	<tr>
                        <td><img src="/static/dataImages/7.jpg"/></td>
                    	<td width = 50>Aaron Moskovitz</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/8.jpg"/></td>
                    	<td width = 50>Adam Borges</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/9.jpg"/></td>
                    	<td width = 50>Sarah Jones</td>
                    </tr>
                </table>
            </div>
            <div class="bestMatches" id="table6" style="display:none">
            	<table>
                	<tr>
                        <td><img src="/static/dataImages/11.jpg"/></td>
                    	<td width = 50>Adam Borges</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/12.jpg"/></td>
                    	<td width = 50>Sarah Jones</td>
                    </tr>
                    <tr>
                        <td><img src="/static/dataImages/13.jpg"/></td>
                    	<td width = 50>Yvonne Tolstoy</td>
                    </tr>
                </table>
            </div>
			<div class="footer">
				<a href="index.html">Lifechain</a>
            </div> <!-- /.footer -->
		</div> <!-- /#sidebar -->

		<div class="theContents" id="contents">

		  <div id="home" class="tabcontent" style="margin-left:1em">

		    <h1>Lifechain - Connecting Lives</h1>
		    <p>18 people die every day in the U.S. waiting for
		      a lifesaving organ transplant
		      [<a href="http://www.gsds.org/facts_about_donation/the_basic_facts.aspx">source</a>].
		      This is a type of disease that is curable by
		      proven surgical techniques.  And yet those
		      waiting for just one type of organ transplant
		      consume over 10 percent of the entire medicare
		      budget
		      [<a href="http://www.examiner.com/healthcare-industry-in-national/kidney-transplant-success-dr-joseph-murray-pioneered-55-years-ago">source</a>].</p>

		    <p>The Lifechain project is the world's first
		      open-source, not-for-profit, transplant-chain
		      service. The Lifechain website uses social
		      networks to connect people in order to save
		      lives. Sign up to see how you and your friends
		      can change lives.</p>

		    <p>Lifechain will ask you for medical data that
		      can be used to find matches and form chains
		      between you and your friends. If a match is
		      made, you will be informed--and if you are
		      willing, you might be able to change someone's
		      life forever.</p>

		    {% if user.is_authenticated %}
		    <p><a href="#profile">Go to Profile</a></p>
		    <p><a href="/logout">Logout</a></p>
		    {% else %}
		    <p>
		      <a href="{% url socialauth_begin 'facebook' %}">
			<img src="/static/fblogin.png" alt="Login using Facebook"/></a></p>
		    {% endif %}

		    <h3>The lives you could help save</h3>
		    <p>
		      <img src="/static/people1.jpg" height="200px"/>
		      <img src="/static/people2.jpg" height="200px"/>
		      <img src="/static/people3.jpg" height="200px"/>
		    </p>
		  </div> <!-- home -->

		  <div id="about" class="tabcontent" style="margin-left:1em">

		    <h1>What is a transplant chain?</h1>

		    <p>Imagine your son or daughter needs a lifesaving
		      organ transplant. Often times, you will not be
		      able to donate an organ to them because of blood
		      type, age, or immunological marker mismatch. Now
		      consider that there are thousands of families in
		      similar situations, unable to save their child
		      because of these uncontrollable factors.</p>

		    <p>The transplant chain can solve this
		      problem. Even if you can.t donate an organ to
		      your child, you could be paired with another
		      person in a similar situation, whose child you
		      can save, because you happen to match
		      immunologically. They in exchange will donate an
		      organ to help yours!</p>

		    <p>This type of exchange can save more than two
		      lives--it has touched as many as 60, as
		      documented in this recent
		      [<a href="http://www.nytimes.com/2012/02/19/health/lives-forever-linked-through-kidney-transplant-chain-124.html">New
		      York Times article</a>]. The Lifechain project
		      is dedicated to helping people to connect in
		      order to facilitate this type of amazing
		      life-saving event.</p>

		    {% if user.is_authenticated %}
		    <p><a href="#profile">Go to Profile</a></p>
		    <p><a href="/logout">Logout</a></p>
		    {% else %}
		    <p>
		      <a href="{% url socialauth_begin 'facebook' %}">
			<img src="/static/fblogin.png" alt="Login using Facebook"/></a></p>
		    {% endif %}

		  </div> <!-- about -->

        	<div id="personal" class="tabcontent" style="margin-left:1em">

            <h3>Personal Information</h3>

		  <p>Thanks for linking with facebook! We have already
		  begun to identify which people in your friends or
		  networks you can help. Please fill out the
		  information in the personal, medical, and general
		  tabs in order for us to better find matches for
		  you!</p>

            <div id="contentOfPersonal" style="margin-left:2em">
            <form>
            <table>
              <tr>
              	<td width=140>First Name:</td>
                <td><input type="text" name="firstName" value=""/></td>
              </tr>
              <tr>
                <td width=140>Last Name:</td>
                <td><input type="text" name="lastName" value=""/></td>
              </tr>
              <tr>
                <td width=140>Age:</td>
                <td><input type="text" name="age" /></td>
              </tr>
              <tr>
                <td width =140>Location:</td>
                <td><input type="text" name="loc" value="{{user.userprofile.location}}"/></td>
              </tr>
              <tr>
                <td width =140>Height:</td>
                <td><input type="text" name="height"/></td>
              </tr>
              <tr>
                <td width =140>Weight:</td>
                <td><input type="text" name="weight"/></td>
              </tr>
                  <tr>
                    <td width=140>Email Address:</td>
                    <td><input type="email" name="email" /></td>
                  </tr>
                  <tr>
                    <td width=140>Phone Number:</td>
                    <td><input type="tel"/></td>
                  </tr>
                </table>
                </div>
                </form>
    		</div><!-- /#contact -->

            <div id="medical" class="tabcontent">
                <h3>Medical Information</h3>
                <div id="contentOfMedical" style="margin-left:4em">
                <form>
                    Blood Type: <select name="bloodDropDown">
                                <option value="o">O</option>
                                <option value="a">A</option>
                                <option value="b">B</option>
                                <option value="ab">AB</option>
                                </select>
                    Positive: <input type='checkbox' name="bloodPos?"/>
                </form>
                <h4>Immunological Markers</h4>
                <form>
                	IgA: <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgB:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgC:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgD:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgE:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgF:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option value="s">S</option>
                         <option value="t">T</option>
                         </select>
                </form>
                <table>
                	<tr>
                    	<td></td>
                    	<td width=170><h4>Do you have a medical history with any of the following?</h4></td>
                        <td><h4>Do you need any of these organs?</h4></td>
                    </tr>
                	<tr>
                    	<td width=170>Heart:</td>
                        <td><input type="checkbox" name="heart" /></td>
                        <td><input type="checkbox" name="heartNeeded" class="needed"/></td>
                    </tr>
                    <tr>
                    	<td width=170>Liver:</td>
                        <td><input type="checkbox" name="liver" /></td>
                        <td><input type="checkbox" name="liverNeeded" class="needed"/></td>
                    </tr>
                    <tr>
                    	<td width=170>Kidneys:</td>
                        <td><input type="checkbox" name="kidney" /></td>
                        <td><input type="checkbox" name="kidnetNeeded" class="needed"/></td>
                    </tr>
                    <tr>
                    	<td width=170>Lung:</td>
                        <td><input type="checkbox" name="lung" /></td>
                        <td><input type="checkbox" name="lungNeeded" class="needed"/></td>
                    </tr>
                    <tr>
                    	<td width=170>Cancer of any Form:</td>
                        <td><input type="checkbox" name="cancer" /></td>
                        <td>You don't want a cancer transplant!</td>
                    </tr>
                </table>
               <input type="button" class="facebook_button" value="Ask my friends to help save lives" data-text="this is the text that will be prefilled"/>
                </div>
    		</div><!-- #medical -->
            <div id="general" class="tabcontent">
                <h3>General</h3>
                <form>
                    Smoker: <input type='checkbox' name="smoker"/><br />
                    History of Drug Use: <input type="text" name="drugs"/>
                </form>
            </div><!-- #general -->

		  <div id="contact" class="tabcontent" style="margin-left:1em">

		    <h1>Contact</h1>

		    <p>We are currently just a group of programmers,
		    so please let me know
		    at <a href="mailto:rafaelCosman@gmail.com">rafaelCosman@gmail.com</a>
		    if you are interested in getting involved!</p>

		    <p>Please donate to the Lifechain project! This is a
		    non-profit, open-source project devoted to saving
		    lives, and we need resources in order to keep our
		    servers running.</p>

		  </div> <!-- contact -->

    </div>
        </div> <!-- /#contents -->
	</div> <!-- /#page -->

{% endblock content %}
