<!DOCTYPE html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Artist Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" charset="utf-8" />	
    <script type="text/javascript">
		$(function(){
			$("#tabs").tabs();
		});
	</script>
</head>

<body>
	<span id="background"></span>
	<div id="page">
		<div id="sidebar">
		  <div id="logo">
				<img src="http://i.imgur.com/cuHJ1.png"/>
			</div> <!-- /#logo -->
			<ul id="navigation">
				<li class="selected"><a href="#tabs-1">PERSONAL</a></li>
				<li><a href="#tabs-2">CONTACT</a></li>
				<li><a href="#tabs-3">MEDICAL INFO</a></li>
				<li><a href="#tabs-4">GENERAL</a></li>
			</ul> <!-- /#navigation -->
			<ul id="connect">
				<li><a href="http://facebook.com" target="_blank" class="facebook"></a></li>
				<li><a href="http://twitter.com" target="_blank" class="twitter"></a></li>
				<li><a href="" class="link-us"></a></li>
			</ul> <!-- /#connect -->
			<div class="footer">
				&copy; Copyright &copy; 2011.<br/>
				<a href="index.html">Lifechain Co.</a></div> <!-- /.footer -->
		</div> <!-- /#sidebar -->
		
		<div class="theContents" id="contents">
        	<div id="tabs-1" style="margin-left:1em">
            &nbsp;
            <h3>Personal Information</h3>
            <div id="contentOfPersonal" style="margin-left:2
            <form>
            <table>
              <tr>
                <td width=140>First Name:</td>
                <td><input type="text" name="firstName" /></td>
              </tr>
              <tr>
                <td width=140>Last Name:</td>
                <td><input type="text" name="lastName" /></td>
              </tr>
              <tr>
                <td width=140>Age:</td>
                <td><input type="text" name="age" /></td>
              </tr>
              <tr>
                <td width =140>Location:</td>
                <td><input type="text" name="loc"/></td>
              </tr>
              <tr>
                <td width =140>Height:</td>
                <td><input type="text" name="height"/></td>
              </tr>
              <tr>
                <td width =140>Weight:</td>
                <td><input type="text" name="weight"/></td>
              </tr>
            </table>
            </div>
            </form>
            
            <div id="tabs-2">
                <h3>Contact Information</h3>
                <form>
                <div style="margin-left:2em">
                <table>
                  <tr>
                    <td width=140>Email Address:</td>
                    <td><input type="email" name="email" /></td>
                  </tr>
                  <tr>
                    <td width=140>Phone Number:</td>
                    <td><input type="tel"/></td>
                  </tr>
                </table>
                </div>
                </form>
    		</div><!-- /#contact -->
            
            <div id="tabs-3">
                <h3>Medical Information</h3>
                <div id="contentOfMedical" style="margin-left:4em">
                <form>
                    Blood Type: <select name="bloodDropDown">
                                <option value="o">O</option>
                                <option value="a">A</option>
                                <option value="b">B</option>
                                <option value="ab">AB</option>
                                </select>
                    Positive: <input type='checkbox' name="bloodPos?"/>
                </form>
                <h4>Immunological Markers</h4>
                <form>
                	IgA: <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option vlaue="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgB:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option vlaue="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgC:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option vlaue="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgD:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option vlaue="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgE:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option vlaue="s">S</option>
                         <option value="t">T</option>
                         </select>
                   IgF:  <select name="immunoDropDown">
                    	 <option value="a">A</option>
                         <option value="b">B</option>
                         <option value="c">C</option>
                         <option value="d">D</option>
                         <option value="e">E</option>
                         <option value="f">F</option>
                         <option value="g">G</option>
                         <option value="h">H</option>
                         <option value="i">I</option>
                         <option value="j">J</option>
                         <option value="k">K</option>
                         <option value="l">L</option>
                         <option value="m">M</option>
                         <option value="n">N</option>
                         <option value="o">O</option>
                         <option value="p">P</option>
                         <option value="q">Q</option>
                         <option value="r">R</option>
                         <option vlaue="s">S</option>
                         <option value="t">T</option>
                         </select>
                </form>
                <h4>Do you have a medical history with any of the following?</h4>
                <table>
                	<tr>
                    	<td width=170>Heart:</td>
                        <td><input type="checkbox" name="heart" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Liver:</td>
                        <td><input type="checkbox" name="liver" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Kidneys:</td>
                        <td><input type="checkbox" name="kidney" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Lung:</td>
                        <td><input type="checkbox" name="lung" /></td>
                    </tr>
                    <tr>
                    	<td width=170>Cancer of any Form:</td>
                        <td><input type="checkbox" name="cancer" /></td>
                    </tr>
                </table> 
                </div>             
    		</div><!-- #medical -->
            
            <div class="tabs-4">
                <h3>General</h3>
                <form>
                    Smoker: <input type='checkbox' name="smoker"/><br />
                    History of Drug Use: <input type="text" name="drugs"/>
                </form>
            </div><!-- #general -->
    </div>
        </div> <!-- /#contents -->
	</div> <!-- /#page -->
</body>
</html>